/* ============================== */
/* Estilos para a Container do Poke */
/* ============================== */ 
.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 80px;
}
