/* Estilos para o modo escuro */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  body.dark-mode header {
    background-color: #1f1f1f;
  }
  
  body.dark-mode .search-input {
    background-color: #333;
    color: #e0e0e0;
  }
  
  body.dark-mode .search-button {
    background-color: #444;
    color: #e0e0e0;
  }
  
  body.dark-mode .sidebar {
    background-color: #1f1f1f;
  }
  
  body.dark-mode .footer {
    background-color: #1f1f1f;
  }